<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <img src="images/home.png" class="img-responsive w-100"/>
        </div>

        <div class="col-md-6 col-xs-6 text-center mt-5 text-light">
            <h1>Your Parking Compass</h1>
            <br>
            <h6>Finding parking spots nowadays is rather complicated. We decided to help you navigate
                yourself to the closest free parking space with our web application called Your Parking Compass</h6>

            <h6>Your parking compass makes parking easy, anytime, anywhere in Macedonia.</h6>
            <br>
            <form action="/parking/locate" method="GET">
                <input type="image" style="width: 100px" src="/images/START.gif" name="saveForm" class="btTxt submit" id="saveForm" />
            </form>
        </div>
    </div>
</div>