<script type="text/javascript">
    var x = document.getElementById("coordinates");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.hidden = false;
        x.innerText = "Geolocation is not supported by this browser.";
    }

    function showPosition(position) {
        var x = document.getElementById("coordinates");
        x.value = position.coords.latitude + " " + position.coords.longitude;
    }
</script>

<div class="container mt 5" xmlns:th="http://www.thymeleaf.org">
    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-6">
            <div class="row">
                <div class="imageSearch col-md-6 col-xs-6 text-center">
                    <img src="/images/search.gif" style="width: 500px" class="img-responsive"/>
                    <div class="middle col-12" style="    margin-left: 125px;">
                        <form action="/parking/current-location" class="form login" method="GET">
                            <button type="submit" class="text " >
                                Use your current location
                            </button>
                                <input type="text"
                                       class="form-control"
                                       id="coordinates"
                                       name="coordinates"
                                       hidden="true">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xs-6">

            <form action="/parking/result" method="POST" class="form login">
            <br>
                <div class="row ">
                    <div class="form-floating col-xs-6 text-left text-light">Search by City <br></div>
                </div>
                <div class="row ">
                    <div class="form-floating col-xs-6 text-left w-75">
                        <input type="text" class="form-control text-dark" id="cityName" name="city"
                               placeholder="Enter city name">
                        <label for="cityName">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            Enter city name
                        </label>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="form-floating col-xs-6 text-left text-light">Search by address <br></div>
                </div>
                <div class="row ">
                    <div class="form-floating col-xs-6 w-75 text-left">

                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                        <label for="address">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            Enter address
                        </label>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-5">
                        <div>
                            <button type="radio" class="btn btn-secondary" name="sort" id="name" autocomplete="off"
                                    value="name">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.082 5.629L9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"></path>
                                    <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"></path>
                                </svg>
                                <span class="visually-hidden">Button</span>
                            </button>
                            <label style="color: white" for="name">Sort by Name</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div>
                            <button type="radio" class="btn btn-secondary" name="sort" id="rating" autocomplete="off"
                                    value="rating">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-down-alt" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.36 7.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.836 1.973-1.836 1.09 0 2.063.637 2.063 2.688 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z"></path>
                                    <path d="M12.438 8.668V14H11.39V9.684h-.051l-1.211.859v-.969l1.262-.906h1.046zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"></path>
                                </svg>
                                <span class="visually-hidden">Button</span>
                            </button>
                            <label style="color: white" for="rating">Sort By Rating</label>
                        </div>

                    </div>
                </div>
                <br>
                <div class=" row col-xs-6">
                    <div th:if="${hasError}" class="border border-danger text-center m-2">
                        <h4 class="text-danger" th:text="${error}"></h4>
                    </div>
                    <br>
                    <div class="form-floating d-grid col-4" style="margin-left: 95px">
                        <button class="btn bg-teal" style="margin-left: 60px;margin-right: -30px;">Search</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>